
<h1>Listing Schools</h1>
 
<table>
  <tr>
    <th>School Name</th>
    <th>State</th>
    <th></th>
  </tr>
  <%= pie_chart [["test1", 5], ["test2", 10]] %>

  <% @institutions.each do |institution| %>
    <tr>
      <td><%= institution.name %></td>
      <td><%= institution.state_abbreviation %></td>
      <td><%= link_to 'Show', institution_path(institution) %></td>
    </tr>
  <% end %>
  <tr>
  <%= will_paginate @institutions %>
  </tr>
</table>
