
<div class="row p-3">
  <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
      <div class="form-row">
        <div class="col-10 col-md-6 mb-2 mb-md-0">
            <%= form_tag search_path, method: 'get', class: 'form-row', role: 'search' do %>
                <%= text_field_tag :query, params[:query], placeholder: "Find your school...", class: "form-control form-control-md"%>
        </div>
        <div class="col-10 col-md-2">
            <%= submit_tag 'Search', class: 'btn btn-block btn-md btn-primary' %>
            <% end %>
        </div>
      </div>   
  </div>
</div>
<container class="mx-auto"> 
<div class="row">
  <div class="col-10 offset-1">
  <h5>Search results... </h5>
  </div>
</div>
<div class="row">
  <div class="col-10 offset-1">
    <table>
      <tr>
        <th>School Name</th>
        <th>State</th>
        <th>Total Cost</th>
        <th>Median Debt</th>
        <th>Median Salary</th>
        <th>Deal?</th>
      </tr>
      <% @institution.each do |institution| %>
        <tr>
          <td><%= link_to institution.name, institution_path(institution) %></td>
          <td><%= institution.state_abbreviation %></td>
          <td> -- </td>
          <td> -- </td>
          <td> -- </td>
          <td> -- </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
</container>